body {
  margin: 0;
  font-family:  'Sansation';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #00B290, #009D7F,#008B72 , #007D66, #00604C);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00604E;
}